/*What would be the main components that would be on each page*/
/*Global variables*/
.root{
    /*brand colors*/
    -fx-base: #FFFFFF;
    -fx-accent: #D32F2F;
    -fx-background-color: #F4F4F4;

    /*Text Colors*/
    -fx-text-base-color: #333333;
    -fx-text-header-color:#000000;

    /*Font Settings*/
    /*Segoe UI is first since its the best for window, Helvetica for mac and arial */
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14px;

}

.label {
    -fx-text-fill: -fx-text-base-color;
}
/*Main page titles*/
.page-title{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-text-header-color;
    -fx-padding: 10 0 20 0;
}

/*Section Headers*/
.section-header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #555555;
    -fx-padding: 5 0 10 0;
    -fx-border-color: transparent transparent #D32F2F transparent;

}

.button {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #333333;
    -fx-backgorund-radius: 4;
    -fx-padding: 8 16;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color:#D6D6D6;
}

.button-primary{ 
    -fx-background-color: #D32F2F;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.button-primary:hover{
    -fx-background-color: #B71C1C
}

.nav-button {
    -fx-background-color: transparent;
}

/*--- Common Containers --- */
.card-pane {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10,0,0, 2);
    -fx-padding: 20;
}

/* --- Typography --- */
.price-text{
    -fx-font-size: 16px;
    -font-weight: bold;
    -fx-text-fill: #2E7D32;
}

